body {
    color: #632fe5;
    font-family: 'Muli', sans-serif;
}

h1 {
    font-size: 30px;

}
.project {
    background-color: #fff7aa;
    padding: 5px;
    margin: 5px;
    display: inline-block;
    vertical-align: top;
    width: 600px;
    border-radius: 15px;
}

.projectHead {
    display: inline-block;
    color: #7a076a;
}

.hidden {
    display: none;
}
